.wrapper{
    width: 30vw;
    height: 30vw;
    background-color: #43115280;
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    &>img{
        width: 30%;
        height: 30%;
        animation: rotateLoader 2s infinite;
        transition: transform 0.5s linear;
    }
}

@keyframes rotateLoader{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}