.wrapper {
    position: absolute;
    z-index: 10;
    right: 1vw;
    bottom: 1vw;
    width: 18vw;
    height: 8vw;
    border: solid 0.1vw var(--main_color);
    backdrop-filter: blur(6px);
    padding: 0.5vw 0.8vw 0.5vw 0.5vw;

    &>header {
        height: 1.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h1 {
            font-size: 1.1vw;
            color: var(--main_color);
        }

        &>div{
            color: var(--second_color);
            font-size: 1.6vw;
            font-weight: 600;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            &:hover{
                color: var(--main_color);
            }
        }
    }
    &>p{
        color: var(--second_color);
        font-size: 0.9vw;
        text-align: justify;
        font-weight: 500;
        line-height: 120%;
        margin-top: 0.2vw;
    }
}